body {
	background: #fff;
	color: #556;
}
#allwrap {
	background: none;
  	border: 0px solid #666;
}
#topmenuwrap {
  background: none;
  border-top: 0px dotted #99a;
  border-bottom: 1px solid #223;
}
#topmenu {
	background: none;
	border-top: 0px solid #000;
}
#header {
	background: none;
	border-bottom: 0px solid #99a;
}
#logo {
	border-top: 0px solid #fff;
	background: none;
}
#headerright{
	background: url(../images/banner.jpg) no-repeat center right;
}
#banner {
	background: none;
}
h1 {
color: #223;
}
h2 {
color: #223;
}
#logo h2 {
	color:#000;
}
#logo a:link, #logo a:visited, #logo a:hover, #logo a:active {
border: none;
}
#logo h2 a:link, #logo h2 a:visited, #logo h2 a:hover, #logo h2 a:active {
color: #000;
text-decoration: none;
}
h3 {
color: #223;
}
#logo h3 {
	color: #000;
}
h4 {
color: #223;
}
h5 {
color: #223;
}
h6 {
color: #223;
}
#search{
	background: none;
}
#search input.inputbox {
    color: #223;
    border:1px solid #556;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#search div.search label{
    color: #fff;
}
#wrap {
	background: none;
}
#cbody {

}
#content60 {
	background: none;
}
#pathway {
	background: none;
	border-top: 0px solid #e7e7e8;
}
#pathway a:link, #pathway a:visited {
color: #66c;
text-decoration: none;
}
#pathway a:hover, #pathway a:active {
color: #66c;
text-decoration: underline;
}
#content {
	background: none;
}
#footerwrap {
	background: none;
}
#footer {
	background: none;
	color: #889;
	border-top: 1px dotted #889;
}
#footer div.moduletable {
background: none;
}
#sidebar {
	background: none;
}
#sidebar-2 {
	background: none;
}
fieldset{

}
a:link, a:visited {
color: #66c;
text-decoration: none;
}
a:hover, a:active {
color: #66c;
text-decoration: underline;
}
h2 a:link, h2 a:visited, h2 a:hover, h2 a:active {
color: #223;
}
#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
color: #889;
text-decoration: underline;
}
#a4j a:link, #a4j a:visited, #a4j a:hover, #a4j a:active {
color: #889;
text-decoration: underline;
}
/* ==== MODULES =======================================  */
div.moduletable {
	background: none;
}
div.moduletable h3 {
	color:#223;
    background: none;
    border-bottom: 1px solid #223;
}
/* ==== SIDEBAR MODULES =======================================  */
#sidebar div.moduletable {
	background: none;
}
#sidebar div.moduletable h3 {
	color:#223;
    background: none;
    border-bottom: 1px solid #223;
}
/* ==== SIDEBAR2 MODULES =======================================  */
#sidebar-2 div.moduletable {
	background: none;
}
#sidebar-2 div.moduletable h3 {
	color:#223;
    background: none;
    border-bottom: 1px solid #223;
}
/* ======= SEARCH =======================  */
#search .moduletable {
	background: none;
}
#search .moduletable h3{
	background: none;
}
/* ======= Topmenu =========== */
#topmenu .moduletable {
    border: 0;
}
#topmenu .menu {
	background: none;
	color: #000;
	border: 0;
}
#topmenu .menu li a {
    color: #000;
	border-right: 0px solid #fff;
}
#topmenu .menu li.active a {
	color: #667;
}
#topmenu .menu li a:hover {
	color: #667;
}
/* ======= SIDE MENUS ================================  */
.moduletable_menu {
background: none ;
color: #556;
border-bottom: 0px solid #fff;
}
.moduletable_menu h3 {
	color:#223;
    background: none;
    border-bottom: 1px solid #223;
}
.moduletable_menu li {
	border-bottom: 1px dotted #99a;
}
.moduletable_menu li ul li {
	border-bottom:0px solid #ccc;
	border-top:0px dashed #e4e4e4;
	background: none;
}
.moduletable_menu li a {
	color: #556;
}
.moduletable_menu li ul li a {
background: none;
}
.moduletable_menu ul.menu li.current a {
	color:#66c;
}
.moduletable_menu ul.menu li.current * a {
	color:#556;
}
.moduletable_menu li ul li a:hover, .moduletable_menu li.current ul li a:hover {
	color:#66c;
}
.moduletable_menu li a:link, .moduletable_menu li a:visited {
color: #556;
text-decoration: none;
}
.moduletable_menu li a:hover {
color: #66c;
text-decoration: none;
}
.moduletable_menu li a:active {
color: #66c;
text-decoration: none;
}

/* ================  details  ==================== */
.content_rating {
	color: #889;
}
.content_vote {
	color: #889;
}
.article-info {
 	color: #889;
}
/* =====================  Search results ===================== */
dl.search-results dd.result-created {
    color: #889;
}
div.search form#searchForm fieldset.word,
div.search form#searchForm fieldset.phrases,
div.search form#searchForm fieldset.only {
    border: 1px solid #ccc;
}
.small{
    color:#889;
}
/* =====================  Single Contact ===================== */
div.contact dl.tabs dt.open a {
    color: #556;
}
div.contact dl.tabs dt {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
div.contact div.current {
    border: 1px solid #ccc;
}
/* ===================== tooltip =====================  */
.tip {
	border:1px solid #ccc;
	background:#fff;
}
/* ===================== Submit a weblink, Submit an article, Edit article =====================  */
div.edit form fieldset
{
    border: 1px solid #ccc;
}
/* =====================  User profile ===================== */
.profile-edit #member-profile fieldset
{
    border: 1px solid #ccc;
}
div.profile fieldset{
    border: 1px solid #ccc;
}