AddType x-mapp-php5 .php
SetEnv APPLICATION_ENV production
#SetEnv APPLICATION_ENV development
Options -MultiViews
RewriteEngine ON
RewriteBase /
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
 